################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/SO/SolucionTecmein/.vs/Tecmein/FileContentIndex/f9d65193-9d8f-4d74-8b5c-42a1ea1b0ee2.vsidx
/SO/SolucionTecmein/.vs/Tecmein/FileContentIndex/67c4b93f-ab2f-42e0-abe3-a78618e31dea.vsidx
/SO/SolucionTecmein/.vs/Tecmein/FileContentIndex/88c41dd9-0c2f-4761-b28b-29fa27860060.vsidx
/SO/SolucionTecmein/.vs/Tecmein/FileContentIndex/112ba2d3-9c90-4283-adf9-b1438312e3ff.vsidx
/SO/SolucionTecmein/.vs/Tecmein/FileContentIndex/e51add94-df8e-427f-9637-e295119f406c.vsidx
/.gitignore
/SO/SolucionTecmein/.vs/Tecmein/v17/.suo
/SO/SolucionTecmein/TecmeinAplicacionWeb/bin/Debug/net8.0/af/Humanizer.resources.dll
/SO/SolucionTecmein/.vs/Tecmein/FileContentIndex/11e3386d-556b-4a1f-89d6-6e591aabad83.vsidx
/SO/SolucionTecmein/.vs/Tecmein/FileContentIndex/12068c29-0d6a-4ae2-a603-7cebbc2540d4.vsidx
/SO/SolucionTecmein/.vs/Tecmein/FileContentIndex/2883901d-3102-4e41-9f54-66b762f2b057.vsidx
/SO/SolucionTecmein/.vs/ProjectEvaluation/tecmein.metadata.v8.bin
/SO/SolucionTecmein/.vs/ProjectEvaluation/tecmein.projects.v8.bin
/SO/SolucionTecmein/.vs/ProjectEvaluation/tecmein.strings.v8.bin
/SO/SolucionTecmein/.vs/Tecmein/DesignTimeBuild/.dtbcache.v2
/SO/SolucionTecmein/.vs/Tecmein/v17/.futdcache.v2
/SO/SolucionTecmein/.vs/Tecmein/v17/DocumentLayout.json
/SO/SolucionTecmein/BLL/bin/Debug/net8.0/BLL.dll
/SO/SolucionTecmein/BLL/bin/Debug/net8.0/BLL.pdb
/SO/SolucionTecmein/BLL/bin/Debug/net8.0/DAL.dll
/SO/SolucionTecmein/BLL/bin/Debug/net8.0/DAL.pdb
/SO/SolucionTecmein/BLL/bin/Debug/net8.0/Entity.dll
/SO/SolucionTecmein/BLL/bin/Debug/net8.0/Entity.pdb
/SO/SolucionTecmein/BLL/bin/Release/net8.0/BLL.deps.json
/SO/SolucionTecmein/BLL/bin/Release/net8.0/BLL.dll
/SO/SolucionTecmein/BLL/bin/Release/net8.0/BLL.pdb
/SO/SolucionTecmein/BLL/bin/Release/net8.0/DAL.dll
/SO/SolucionTecmein/BLL/bin/Release/net8.0/DAL.pdb
/SO/SolucionTecmein/BLL/bin/Release/net8.0/Entity.dll
/SO/SolucionTecmein/BLL/bin/Release/net8.0/Entity.pdb
/SO/SolucionTecmein/BLL/obj/Debug/net8.0/BLL.AssemblyInfo.cs
/SO/SolucionTecmein/BLL/obj/Debug/net8.0/BLL.AssemblyInfoInputs.cache
/SO/SolucionTecmein/BLL/obj/Debug/net8.0/BLL.csproj.AssemblyReference.cache
/SO/SolucionTecmein/BLL/obj/Debug/net8.0/BLL.csproj.CoreCompileInputs.cache
/SO/SolucionTecmein/BLL/obj/Debug/net8.0/BLL.dll
/SO/SolucionTecmein/BLL/obj/Debug/net8.0/BLL.pdb
/SO/SolucionTecmein/BLL/obj/Debug/net8.0/BLL.sourcelink.json
/SO/SolucionTecmein/BLL/obj/Debug/net8.0/ref/BLL.dll
/SO/SolucionTecmein/BLL/obj/Debug/net8.0/refint/BLL.dll
/SO/SolucionTecmein/BLL/obj/Release/net8.0/ref/BLL.dll
/SO/SolucionTecmein/BLL/obj/Release/net8.0/refint/BLL.dll
/SO/SolucionTecmein/BLL/obj/Release/net8.0
/SO/SolucionTecmein/DAL/bin/Debug/net8.0/DAL.dll
/SO/SolucionTecmein/DAL/bin/Debug/net8.0/DAL.pdb
/SO/SolucionTecmein/DAL/bin/Debug/net8.0/Entity.dll
/SO/SolucionTecmein/DAL/bin/Debug/net8.0/Entity.pdb
/SO/SolucionTecmein/DAL/bin/Release/net8.0/DAL.deps.json
/SO/SolucionTecmein/DAL/bin/Release/net8.0/DAL.dll
/SO/SolucionTecmein/DAL/bin/Release/net8.0/DAL.pdb
/SO/SolucionTecmein/DAL/bin/Release/net8.0/Entity.dll
/SO/SolucionTecmein/DAL/bin/Release/net8.0/Entity.pdb
/SO/SolucionTecmein/DAL/obj/Debug/net8.0/DAL.AssemblyInfo.cs
/SO/SolucionTecmein/DAL/obj/Debug/net8.0/DAL.AssemblyInfoInputs.cache
/SO/SolucionTecmein/DAL/obj/Debug/net8.0/DAL.csproj.AssemblyReference.cache
/SO/SolucionTecmein/DAL/obj/Debug/net8.0/DAL.dll
/SO/SolucionTecmein/DAL/obj/Debug/net8.0/DAL.pdb
/SO/SolucionTecmein/DAL/obj/Debug/net8.0/DAL.sourcelink.json
/SO/SolucionTecmein/DAL/obj/Debug/net8.0/ref/DAL.dll
/SO/SolucionTecmein/DAL/obj/Debug/net8.0/refint/DAL.dll
/SO/SolucionTecmein/DAL/obj/Release/net8.0/ref/DAL.dll
/SO/SolucionTecmein/DAL/obj/Release/net8.0/refint/DAL.dll
/SO/SolucionTecmein/Entity/bin/Debug/net8.0/Entity.dll
/SO/SolucionTecmein/Entity/bin/Debug/net8.0/Entity.pdb
/SO/SolucionTecmein/Entity/bin/Release/net8.0/Entity.deps.json
/SO/SolucionTecmein/Entity/bin/Release/net8.0/Entity.dll
/SO/SolucionTecmein/Entity/bin/Release/net8.0/Entity.pdb
/SO/SolucionTecmein/Entity/bin/Release/net8.0/Entity.runtimeconfig.json
/SO/SolucionTecmein/Entity/obj/Debug/net8.0/ref/Entity.dll
/SO/SolucionTecmein/Entity/obj/Debug/net8.0/refint/Entity.dll
/SO/SolucionTecmein/Entity/obj/Debug/net8.0/Entity.AssemblyInfo.cs
/SO/SolucionTecmein/Entity/obj/Debug/net8.0/Entity.AssemblyInfoInputs.cache
/SO/SolucionTecmein/Entity/obj/Debug/net8.0/Entity.csproj.CoreCompileInputs.cache
/SO/SolucionTecmein/Entity/obj/Debug/net8.0/Entity.dll
/SO/SolucionTecmein/Entity/obj/Debug/net8.0/Entity.pdb
/SO/SolucionTecmein/Entity/obj/Debug/net8.0/Entity.sourcelink.json
/SO/SolucionTecmein/Entity/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/SO/SolucionTecmein/Entity/obj/Release/net8.0/Entity.AssemblyInfo.cs
/SO/SolucionTecmein/Entity/obj/Release/net8.0/Entity.AssemblyInfoInputs.cache
/SO/SolucionTecmein/Entity/obj/Release/net8.0/Entity.assets.cache
/SO/SolucionTecmein/Entity/obj/Release/net8.0/Entity.csproj.AssemblyReference.cache
/SO/SolucionTecmein/Entity/obj/Release/net8.0/Entity.csproj.CoreCompileInputs.cache
/SO/SolucionTecmein/Entity/obj/Release/net8.0/Entity.csproj.FileListAbsolute.txt
/SO/SolucionTecmein/Entity/obj/Release/net8.0/Entity.dll
/SO/SolucionTecmein/Entity/obj/Release/net8.0/Entity.GeneratedMSBuildEditorConfig.editorconfig
/SO/SolucionTecmein/Entity/obj/Release/net8.0/Entity.genruntimeconfig.cache
/SO/SolucionTecmein/Entity/obj/Release/net8.0/Entity.GlobalUsings.g.cs
/SO/SolucionTecmein/Entity/obj/Release/net8.0/Entity.pdb
/SO/SolucionTecmein/Entity/obj/Release/net8.0/Entity.sourcelink.json
/SO/SolucionTecmein/Entity/obj/Release/net8.0/ref/Entity.dll
/SO/SolucionTecmein/Entity/obj/Release/net8.0/refint/Entity.dll
/SO/SolucionTecmein/DAL/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/SO/SolucionTecmein/DAL/obj/Release/net8.0/DAL.AssemblyInfo.cs
/SO/SolucionTecmein/DAL/obj/Release/net8.0/DAL.AssemblyInfoInputs.cache
/SO/SolucionTecmein/DAL/obj/Release/net8.0/DAL.assets.cache
/SO/SolucionTecmein/DAL/obj/Release/net8.0/DAL.csproj.AssemblyReference.cache
/SO/SolucionTecmein/DAL/obj/Release/net8.0/DAL.csproj.CoreCompileInputs.cache
/SO/SolucionTecmein/DAL/obj/Release/net8.0/DAL.csproj.FileListAbsolute.txt
/SO/SolucionTecmein/DAL/obj/Release/net8.0/DAL.csproj.Up2Date
/SO/SolucionTecmein/DAL/obj/Release/net8.0/DAL.dll
/SO/SolucionTecmein/DAL/obj/Release/net8.0/DAL.GeneratedMSBuildEditorConfig.editorconfig
/SO/SolucionTecmein/DAL/obj/Release/net8.0/DAL.GlobalUsings.g.cs
/SO/SolucionTecmein/DAL/obj/Release/net8.0/DAL.pdb
/SO/SolucionTecmein/DAL/obj/Release/net8.0/DAL.sourcelink.json
/SO/SolucionTecmein/.vs/Tecmein/FileContentIndex
/SO/SolucionTecmein/.vs/Tecmein/v17/.suo
/SO/SolucionTecmein/.vs/Tecmein/v17/fileList.bin
/SO/SolucionTecmein/IOC/bin/Debug/net8.0/BLL.dll
/SO/SolucionTecmein/IOC/bin/Debug/net8.0/BLL.pdb
/SO/SolucionTecmein/IOC/bin/Debug/net8.0/DAL.dll
/SO/SolucionTecmein/IOC/bin/Debug/net8.0/DAL.pdb
/SO/SolucionTecmein/IOC/bin/Debug/net8.0/Entity.dll
/SO/SolucionTecmein/IOC/bin/Debug/net8.0/Entity.pdb
/SO/SolucionTecmein/IOC/bin/Debug/net8.0/IOC.dll
/SO/SolucionTecmein/IOC/bin/Debug/net8.0/IOC.pdb
/SO/SolucionTecmein/IOC/bin/Release/net8.0/BLL.dll
/SO/SolucionTecmein/IOC/bin/Release/net8.0/BLL.pdb
/SO/SolucionTecmein/IOC/bin/Release/net8.0/DAL.dll
/SO/SolucionTecmein/IOC/bin/Release/net8.0/DAL.pdb
/SO/SolucionTecmein/IOC/bin/Release/net8.0/Entity.dll
/SO/SolucionTecmein/IOC/bin/Release/net8.0/Entity.pdb
/SO/SolucionTecmein/IOC/bin/Release/net8.0/IOC.dll
/SO/SolucionTecmein/IOC/bin/Release/net8.0/IOC.pdb
/SO/SolucionTecmein/TecmeinAplicacionWeb/bin/Debug/net8.0/BLL.dll
/SO/SolucionTecmein/TecmeinAplicacionWeb/bin/Debug/net8.0/BLL.pdb
/SO/SolucionTecmein/TecmeinAplicacionWeb/bin/Debug/net8.0/DAL.dll
/SO/SolucionTecmein/TecmeinAplicacionWeb/bin/Debug/net8.0/DAL.pdb
/SO/SolucionTecmein/TecmeinAplicacionWeb/bin/Debug/net8.0/Entity.dll
/SO/SolucionTecmein/TecmeinAplicacionWeb/bin/Debug/net8.0/Entity.pdb
/SO/SolucionTecmein/TecmeinAplicacionWeb/bin/Debug/net8.0/IOC.dll
/SO/SolucionTecmein/TecmeinAplicacionWeb/bin/Debug/net8.0/IOC.pdb
/SO/SolucionTecmein/TecmeinAplicacionWeb/bin/Debug/net8.0/TecmeinWebApp.dll
/SO/SolucionTecmein/TecmeinAplicacionWeb/bin/Debug/net8.0/TecmeinWebApp.exe
/SO/SolucionTecmein/TecmeinAplicacionWeb/bin/Debug/net8.0/TecmeinWebApp.pdb
/SO/SolucionTecmein/TecmeinAplicacionWeb/bin/Debug/net8.0/TecmeinWebApp.staticwebassets.runtime.json
/SO/SolucionTecmein/TecmeinAplicacionWeb/bin/Release/net8.0/BLL.dll
/SO/SolucionTecmein/TecmeinAplicacionWeb/bin/Release/net8.0/BLL.pdb
/SO/SolucionTecmein/TecmeinAplicacionWeb/bin/Release/net8.0/DAL.dll
/SO/SolucionTecmein/TecmeinAplicacionWeb/bin/Release/net8.0/DAL.pdb
/SO/SolucionTecmein/TecmeinAplicacionWeb/bin/Release/net8.0/Entity.dll
/SO/SolucionTecmein/TecmeinAplicacionWeb/bin/Release/net8.0/Entity.pdb
/SO/SolucionTecmein/TecmeinAplicacionWeb/bin/Release/net8.0/IOC.dll
/SO/SolucionTecmein/TecmeinAplicacionWeb/bin/Release/net8.0/IOC.pdb
/SO/SolucionTecmein/TecmeinAplicacionWeb/bin/Release/net8.0/TecmeinWebApp.dll
/SO/SolucionTecmein/TecmeinAplicacionWeb/bin/Release/net8.0/TecmeinWebApp.exe
/SO/SolucionTecmein/TecmeinAplicacionWeb/bin/Release/net8.0/TecmeinWebApp.pdb
/SO/SolucionTecmein/TecmeinAplicacionWeb/bin/Release/net8.0/TecmeinWebApp.staticwebassets.runtime.json
/SO/SolucionTecmein/TecmeinAplicacionWeb/obj/Debug
/SO/SolucionTecmein/TecmeinAplicacionWeb/obj/Release
/SO/SolucionTecmein/TecmeinAplicacionWeb/obj/Debug/net8.0/ref/TecmeinWebApp.dll
/SO/SolucionTecmein/TecmeinAplicacionWeb/obj/Debug/net8.0/refint/TecmeinWebApp.dll
/SO/SolucionTecmein/TecmeinAplicacionWeb/obj/Debug/net8.0/staticwebassets/msbuild.TecmeinWebApp.Microsoft.AspNetCore.StaticWebAssets.props
/SO/SolucionTecmein/TecmeinAplicacionWeb/obj/Debug/net8.0/apphost.exe
/SO/SolucionTecmein/TecmeinAplicacionWeb/obj/Debug/net8.0/project.razor.vs.bin
/SO/SolucionTecmein/TecmeinAplicacionWeb/obj/Debug/net8.0/staticwebassets.build.json
/SO/SolucionTecmein/TecmeinAplicacionWeb/obj/Debug/net8.0/staticwebassets.development.json
/SO/SolucionTecmein/TecmeinAplicacionWeb/obj/Debug/net8.0/staticwebassets.pack.json
/SO/SolucionTecmein/TecmeinAplicacionWeb/obj/Debug/net8.0/TecmeinWebApp.AssemblyInfo.cs
/SO/SolucionTecmein/TecmeinAplicacionWeb/obj/Debug/net8.0/TecmeinWebApp.AssemblyInfoInputs.cache
/SO/SolucionTecmein/TecmeinAplicacionWeb/obj/Debug/net8.0/TecmeinWebApp.csproj.AssemblyReference.cache
/SO/SolucionTecmein/TecmeinAplicacionWeb/obj/Debug/net8.0/TecmeinWebApp.csproj.CoreCompileInputs.cache
/SO/SolucionTecmein/TecmeinAplicacionWeb/obj/Debug/net8.0/TecmeinWebApp.dll
/SO/SolucionTecmein/TecmeinAplicacionWeb/obj/Debug/net8.0/TecmeinWebApp.GeneratedMSBuildEditorConfig.editorconfig
/SO/SolucionTecmein/TecmeinAplicacionWeb/obj/Debug/net8.0/TecmeinWebApp.pdb
/SO/SolucionTecmein/TecmeinAplicacionWeb/obj/Debug/net8.0/TecmeinWebApp.sourcelink.json
/SO/SolucionTecmein/TecmeinAplicacionWeb/obj/Release/net8.0/PubTmp/Out/wwwroot/css/styleGenerales.css
/SO/SolucionTecmein/TecmeinAplicacionWeb/obj/Release/net8.0/PubTmp/Out/wwwroot/js/mapa.js
/SO/SolucionTecmein/TecmeinAplicacionWeb/obj/Release/net8.0/PubTmp/Out/wwwroot/js/vistas/Constructora_Index.js
/SO/SolucionTecmein/TecmeinAplicacionWeb/obj/Release/net8.0/PubTmp/Out/wwwroot/js/vistas/Controles_Generales.js
/SO/SolucionTecmein/TecmeinAplicacionWeb/obj/Release/net8.0/PubTmp/Out/wwwroot/js/vistas/Empresa_Index.js
/SO/SolucionTecmein/TecmeinAplicacionWeb/obj/Release/net8.0/PubTmp/Out/wwwroot/js/vistas/Visita_Index.js
/SO/SolucionTecmein/TecmeinAplicacionWeb/obj/Release/net8.0/PubTmp/Out/BLL.dll
/SO/SolucionTecmein/TecmeinAplicacionWeb/obj/Release/net8.0/PubTmp/Out/BLL.pdb
/SO/SolucionTecmein/TecmeinAplicacionWeb/obj/Release/net8.0/PubTmp/Out/DAL.dll
/SO/SolucionTecmein/TecmeinAplicacionWeb/obj/Release/net8.0/PubTmp/Out/DAL.pdb
/SO/SolucionTecmein/TecmeinAplicacionWeb/obj/Release/net8.0/PubTmp/Out/Entity.dll
/SO/SolucionTecmein/TecmeinAplicacionWeb/obj/Release/net8.0/PubTmp/Out/Entity.pdb
/SO/SolucionTecmein/TecmeinAplicacionWeb/obj/Release/net8.0/PubTmp/Out/IOC.dll
/SO/SolucionTecmein/TecmeinAplicacionWeb/obj/Release/net8.0/PubTmp/Out/IOC.pdb
/SO/SolucionTecmein/TecmeinAplicacionWeb/obj/Release/net8.0/PubTmp/Out/TecmeinWebApp.dll
/SO/SolucionTecmein/TecmeinAplicacionWeb/obj/Release/net8.0/PubTmp/Out/TecmeinWebApp.exe
/SO/SolucionTecmein/TecmeinAplicacionWeb/obj/Release/net8.0/PubTmp/Out/TecmeinWebApp.pdb
/SO/SolucionTecmein/TecmeinAplicacionWeb/obj/Release/net8.0/ref/TecmeinWebApp.dll
/SO/SolucionTecmein/TecmeinAplicacionWeb/obj/Release/net8.0/refint/TecmeinWebApp.dll
/SO/SolucionTecmein/TecmeinAplicacionWeb/obj/Release/net8.0/staticwebassets/msbuild.TecmeinWebApp.Microsoft.AspNetCore.StaticWebAssets.props
/SO/SolucionTecmein/TecmeinAplicacionWeb/obj/Release/net8.0/apphost.exe
/SO/SolucionTecmein/TecmeinAplicacionWeb/obj/Release/net8.0/project.razor.vs.bin
/SO/SolucionTecmein/TecmeinAplicacionWeb/obj/Release/net8.0/staticwebassets.build.json
/SO/SolucionTecmein/TecmeinAplicacionWeb/obj/Release/net8.0/staticwebassets.development.json
/SO/SolucionTecmein/TecmeinAplicacionWeb/obj/Release/net8.0/staticwebassets.pack.json
/SO/SolucionTecmein/TecmeinAplicacionWeb/obj/Release/net8.0/staticwebassets.publish.json
/SO/SolucionTecmein/TecmeinAplicacionWeb/obj/Release/net8.0/TecmeinWebApp.AssemblyInfo.cs
/SO/SolucionTecmein/TecmeinAplicacionWeb/obj/Release/net8.0/TecmeinWebApp.AssemblyInfoInputs.cache
/SO/SolucionTecmein/TecmeinAplicacionWeb/obj/Release/net8.0/TecmeinWebApp.csproj.AssemblyReference.cache
/SO/SolucionTecmein/TecmeinAplicacionWeb/obj/Release/net8.0/TecmeinWebApp.csproj.CoreCompileInputs.cache
/SO/SolucionTecmein/TecmeinAplicacionWeb/obj/Release/net8.0/TecmeinWebApp.dll
/SO/SolucionTecmein/TecmeinAplicacionWeb/obj/Release/net8.0/TecmeinWebApp.GeneratedMSBuildEditorConfig.editorconfig
/SO/SolucionTecmein/TecmeinAplicacionWeb/obj/Release/net8.0/TecmeinWebApp.pdb
/SO/SolucionTecmein/TecmeinAplicacionWeb/obj/Release/net8.0/TecmeinWebApp.sourcelink.json
