################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/SO/SolucionTecmein/.vs/Tecmein/FileContentIndex/f9d65193-9d8f-4d74-8b5c-42a1ea1b0ee2.vsidx
/SO/SolucionTecmein/.vs/Tecmein/FileContentIndex/67c4b93f-ab2f-42e0-abe3-a78618e31dea.vsidx
/SO/SolucionTecmein/.vs/Tecmein/FileContentIndex/88c41dd9-0c2f-4761-b28b-29fa27860060.vsidx
/SO/SolucionTecmein/.vs/Tecmein/FileContentIndex/2e4ff74a-ff0e-4c5a-ae86-bc73f169a64e.vsidx
/SO/SolucionTecmein/.vs/Tecmein/FileContentIndex/81331f2b-c0e0-46c1-9ee8-de38382b358e.vsidx
/SO/SolucionTecmein/.vs/Tecmein/FileContentIndex/e51add94-df8e-427f-9637-e295119f406c.vsidx
/SO/SolucionTecmein/BLL/obj/Debug/net8.0/BLL.AssemblyInfo.cs
/SO/SolucionTecmein/BLL/obj/Debug/net8.0/BLL.AssemblyInfoInputs.cache
/SO/SolucionTecmein/BLL/obj/Debug/net8.0/BLL.csproj.AssemblyReference.cache
/SO/SolucionTecmein/Entity/obj/Debug/net8.0/Entity.AssemblyInfo.cs
/SO/SolucionTecmein/Entity/obj/Debug/net8.0/Entity.AssemblyInfoInputs.cache
/SO/SolucionTecmein/TecmeinAplicacionWeb/obj/Debug/net8.0/TecmeinWebApp.AssemblyInfo.cs
/SO/SolucionTecmein/TecmeinAplicacionWeb/obj/Debug/net8.0/TecmeinWebApp.AssemblyInfoInputs.cache
/SO/SolucionTecmein/TecmeinAplicacionWeb/obj/Debug/net8.0/TecmeinWebApp.csproj.AssemblyReference.cache
