################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/SO/SolucionTecmein/.vs/Tecmein/FileContentIndex/f9d65193-9d8f-4d74-8b5c-42a1ea1b0ee2.vsidx
/SO/SolucionTecmein/.vs/Tecmein/FileContentIndex/67c4b93f-ab2f-42e0-abe3-a78618e31dea.vsidx
